<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <description></description>
    <display-name>regedit</display-name>
    <servlet-name>regedit</servlet-name>
    <servlet-class>servlet.RegeditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regedit</servlet-name>
    <url-pattern>/regedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicServlet</display-name>
    <servlet-name>TopicServlet</servlet-name>
    <servlet-class>servlet.TopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicServlet</servlet-name>
    <url-pattern>/getTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsRepeat</display-name>
    <servlet-name>IsRepeat</servlet-name>
    <servlet-class>servlet.IsRepeatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsRepeat</servlet-name>
    <url-pattern>/isRepeat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryMyCards</display-name>
    <servlet-name>QueryMyCards</servlet-name>
    <servlet-class>servlet.QueryMyCards</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryMyCards</servlet-name>
    <url-pattern>/queryMyCards</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LookCard</display-name>
    <servlet-name>LookCard</servlet-name>
    <servlet-class>servlet.LookCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LookCard</servlet-name>
    <url-pattern>/lookCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCard</display-name>
    <servlet-name>DelCard</servlet-name>
    <servlet-class>servlet.DelCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCard</servlet-name>
    <url-pattern>/delCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentCard</display-name>
    <servlet-name>CommentCard</servlet-name>
    <servlet-class>servlet.CommentCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentCard</servlet-name>
    <url-pattern>/commentCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicCardServlet</display-name>
    <servlet-name>PublicCardServlet</servlet-name>
    <servlet-class>servlet.PublicCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCardServlet</servlet-name>
    <url-pattern>/publicCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCardServlet</display-name>
    <servlet-name>ShowCardServlet</servlet-name>
    <servlet-class>servlet.ShowCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCardServlet</servlet-name>
    <url-pattern>/showCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StopUserServlet</display-name>
    <servlet-name>StopUserServlet</servlet-name>
    <servlet-class>servlet.StopUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StopUserServlet</servlet-name>
    <url-pattern>/stopUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelUserServlet</display-name>
    <servlet-name>DelUserServlet</servlet-name>
    <servlet-class>servlet.DelUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUserServlet</servlet-name>
    <url-pattern>/delUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryAllUsersServlet</display-name>
    <servlet-name>QueryAllUsersServlet</servlet-name>
    <servlet-class>servlet.QueryAllUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllUsersServlet</servlet-name>
    <url-pattern>/queryAllUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryOneUserServlet</display-name>
    <servlet-name>QueryOneUserServlet</servlet-name>
    <servlet-class>servlet.QueryOneUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryOneUserServlet</servlet-name>
    <url-pattern>/queryOneUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendInformServlet</display-name>
    <servlet-name>SendInformServlet</servlet-name>
    <servlet-class>servlet.SendInformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendInformServlet</servlet-name>
    <url-pattern>/sendInform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetInformServlet</display-name>
    <servlet-name>GetInformServlet</servlet-name>
    <servlet-class>servlet.GetInformServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInformServlet</servlet-name>
    <url-pattern>/getInform</url-pattern>
  </servlet-mapping>
</web-app>