<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="mapper.CommentMapper">
	<select id="queryCommentByCardId" parameterType="int" resultType="pojo.Comment">
		SELECT
			C.id,
			C.content,
			C.account,
			U.nick,
			C.submittime contentTime
		FROM
			comments C,
			user_info U
		WHERE
			C.account = U.account
		AND C.cardId = #{value}
	</select>

</mapper>
